<div am-section am-bg="dark">
  <div am-container>
    <div am-row>
      <div am-col="sm-12" am-align="center">
        <h2 am-title>{{ pageTitle }}</h2>
      </div>

      <p *ngIf="eventsSorted.length <= 0">There are currently no planned events.</p>

      <ul *ngIf="eventsSorted.length > 0" am-col="sm-12 lg-10" am-push="lg-1" am-event>
        <li *ngFor="let event of eventsSorted; let i=index" am-col="sm-12">

          <!-- Odd layout -->
          <div
            *ngIf="i % 2 == 0"
            am-image am-col="sm-4 md-5">
            <img src="{{ event.cover_image }}" title="#" alt="#"/>
          </div>

          <div
            *ngIf="i % 2 == 0"
            am-content am-col="sm-8 md-7">

            <h3>{{event.name}}</h3>
            <div *ngIf="event.description"><p>{{ event.description }}</p></div>
            <h4>{{ event.start_time | date:'mediumDate' }}</h4>
          </div>

          <!-- Even Layout -->
          <div
            *ngIf="i % 2 == 1"
            am-image am-col="sm-4 md-5" am-push="sm-8 md-7">
            <img src="{{ event.cover_image }}" title="#" alt="#"/>
          </div>

          <div
            *ngIf="i % 2 == 1"
            am-content am-col="sm-8 md-7" am-pull="sm-4 md-5">

            <h3>{{event.name}}</h3>
            <div *ngIf="event.description"><p>{{ event.description }}</p></div>
            <h4>{{ event.start_time | date:'mediumDate' }}</h4>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>

<footer-images></footer-images>