// Container
[am-section] {
  padding: cRem(50) 0;

  @media #{$above-lg} {
    padding: cRem(90) 0;
  }

  &[am-bg~="dark"] {
    background-color: map-get($color, "dark");
    color: map-get($color, "white");
  }

  &[am-section~="park-info"] {
    [am-park-info] {
      margin-bottom: cRem(15);

      h4 {
        margin-bottom: cRem(20);
      }
    }
  }
}