// Container
[am-section] {
  padding: cRem(50) 0;

  @media #{$above-lg} {
    padding: cRem(90) 0;
  }

  &[am-bg~="dark"] {
    background-color: map-get($color, "dark");
    color: map-get($color, "white");

    p {
      a {
        color: map-get($color, "white");
        @include animate(color, .3s, ease, 0s);

        &:hover {
          color: map-get($color, "light");
        }
      }
    }
  }

  &[am-section~="park-info"] {
    [am-park-info] {
      margin-bottom: cRem(15);

      li {
        margin-left: cRem(15);
      }

      h4 {
        margin-bottom: cRem(20);
      }
    }
  }
}