// Event styles
// Calcs for truncation

$font-size: 14px;
$line-height: 1.1;
$font-size-md: 16px;
$line-height-md: 1.4375;
$lines-to-show: 5;
$lines-to-show-md: 5;

[am-event] {
  li {
    margin-bottom: cRem(45);

    [am-image] {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 16px;
        right: 16px;
        height: 100%;
        margin: 0 auto;
        background-color: map-get($color, "black");
        z-index: 0;

        @media #{$above-md} {
          left: 24px;
          right: 24px;
        }
      }

      img {
        position: relative;
        display: block;
        width: 100%;
        opacity: .8;
        z-index: 1;
      }
    }

    [am-content] {
      z-index: 2;
      h3 {
        padding: cRem(15) 0;
      }
    }

    @media #{$above-sm} {
      [am-content] {
        h3 {
          margin-left: -30%;
        }

        p {
          display: block;
          max-width: 100%;
          height: $font-size*$line-height*$lines-to-show;
          -webkit-line-clamp: $lines-to-show;
          overflow: hidden;
          text-align: justify;

          &:before {
            content: "...";
            position: absolute;
            bottom: 35px;
            right: 14px;
            color: map-get($color, "white");
            background-color: map-get($color, "dark");
          }

          &:after {
            content: '';
            position: absolute;
            right: 14px;
            width: 1em;
            height: 1em;
            margin-top: 0.2em;
            background-color: map-get($color, "dark");
          }
        }
      }

      &:nth-child(even) {
        text-align: right;
        margin-right: -30%;

        [am-content] {
          h3 {
            margin-right: -30%;
          }
        }
      }
    }

    @media #{$above-md} {
      [am-content] {
        h3 {
          padding: cRem(30) 0;
        }

        p {
          height: $font-size-md*$line-height-md*$lines-to-show-md;
          -webkit-line-clamp: $lines-to-show-md;

          &:before {
            bottom: 45px;
            right: 23px;
          }

          &:after {
            margin-bottom: 20px;
            right: 20px;
          }
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &[am-event~="home"] {
    li {
      margin-bottom: 0;
    }
  }
}