// Footer styles
[am-footer~="wrapper"] {
  display: block;
  float: left;
  width: 100%;
  padding: cRem(20) 0;

  p {
    margin-bottom: 0;
    font-size: cRem(14);

    a {
      font-family: "Open Sans Semi", Arial;
      color: map-get($color, "dark");
    }
  }

  @media #{$below-md} {
    [am-align] {
      text-align: left;
    }

    [am-col] {
      margin-bottom: cRem(10);
    }
  }
}

// Footer banner styles
[am-footer-images] {
  [am-split] {
    width: 25%;
    float: left;
    background-size: cover;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}