// Header styles
[am-header] {
  padding: cRem(10) cRem(50);
  width: 100%;
  height: 70px;

  [am-logo] {
    width: 110px;
    float: left;

    a {
      display: block;

      img {
        width: 110px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    height: 100px;
    display: inline-block;
    padding: cRem(10) cRem(25);

    [am-logo] {
      float: none;
      margin: 0 auto;
    }
  }
}