// Nav Styles

[am-nav] {
  margin: 0;

  li {
    list-style: none;
    font-family: "Bebasneue", Arial;
    text-transform: uppercase;
    font-size: cRem(16);

    a {
      position: relative;
      text-decoration: none;
      color: map-get($color, "dark");
    }
  }

  &[am-nav~="header"] {
    float: right;
    padding-top: 15px;

    li {
      display: inline;
      margin: 0 10px;
    }
  }

  &[am-nav~="footer"] {
    li {
      line-height: cRem(30);
      span {
        display: block;
        margin-top: -12px;
        font-family: "Open Sans", Arial;
        font-size: cRem(14);
        text-transform: none;
      }
    }

    @media #{$above-lg} {
      li {
        span {
          display: inline;
          margin: 0 0 0 20px;
        }
      }
    }
  }

  &[am-nav~="social"] {
    li {
      display: inline;

      i {
        font-size: cRem(22);
        padding: 0 cRem(5);
      }
    }
  }
}