// Helper classes
// --------------------------------
[am-align~=left] {
  text-align: left;
}

[am-align~=center] {
  text-align: center;
}

[am-align~=right] {
  text-align: right;
}

[am-bold] {
  font-weight: 600;
}