// Page
// --------------------------------

html,
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  word-wrap: break-word;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
}

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    outline-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
}


// Tables
// --------------------------------

table {
  border-spacing: 0;
  background: transparent;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}