<div am-masonary>
  <masonry [useImagesLoaded]="true">
    <masonry-brick class="brick" *ngFor="let mediaItem of mediaSorted">
      <div (click)="show( mediaItem.id, mediaItem.type )">
        <img
          src="{{ fbAPI }}{{ mediaItem.id }}/picture?access_token={{ apiKey }}" />
          <div am-icon="play" *ngIf="mediaItem.type == 'video'"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
      </div>
    </masonry-brick>
  </masonry>
</div>

<div
  *ngIf="modalShow"
  am-modal="container"
  class="modal"
  (click)="onContainerClicked($event)">

  <div am-modal="body" [ngClass]="{'active': modalAnimate, 'video': modalType === 'video', 'photo': modalType === 'photo' }">
    <i class="fa fa-times" aria-hidden="true" (click)="hide()"></i>
    <img
      *ngIf="modalType == 'photo'"
      src="{{ fbAPI }}{{ modalSrc }}/picture?access_token={{ apiKey }}" />

    <div am-iframe *ngIf="modalType == 'video'" [innerHTML]="embedHtml | keepHtml">
    </div>
  </div>
</div>