<agm-map [latitude]="lat" [longitude]="lng" [zoom]="10">
  <agm-marker [iconUrl]="'./assets/images/icons/google-map-marker.png'" [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<div am-section="park-info" am-bg="white">
  <div am-container>
    <div am-row>
      <div am-col="sm-12" am-align="center">
        <h2 am-title>{{ pageInfo?.title.rendered }}</h2>
      </div>

      <div *ngIf="parkData?.opening_times" am-park-info am-col="sm-12" am-align="center">
        <h4>Opening Times</h4>
        <p>{{ parkData?.opening_times }}</p>
      </div>

      <div am-park-info am-col="sm-12" am-align="center" *ngIf="parkData?.membership_prices">
        <h4>Prices</h4>
        <div [innerHTML]="parkData?.membership_prices | keepHtml"></div>

        <p>Find out more about a <a routerLink="/membership" am-color="dark" am-hover="color light">membership</a>.</p>
      </div>

      <div *ngIf="parkData?.location_address" am-park-info am-col="sm-12" am-align="center">
        <h4>Details</h4>
        <div
          *ngIf="parkData?.location_address"
          [innerHTML]="parkData?.location_address | keepHtml"></div>
        <p><a href="mailto:{{ parkData?.email_address }}" am-color="dark" am-hover="color light">{{ parkData?.email_address }}</a></p>
      </div>
    </div>
  </div>
</div>
<footer-images></footer-images>