// Home page styles
[am-title~="about"] {
  @media #{$above-sm} {
    margin-bottom: cRem(100);
  }
}

[am-row~="about"] {
  position: relative;

  [am-parallax] {
    position: absolute;
    opacity: .2;
    z-index: -1;

    &[am-parallax~="image-1"] {
      left: 75%;
      top: -150px;
    }

    &[am-parallax~="image-2"] {
      left: 60%;
      top: -100px;
    }

    @media #{$above-lg} {
      &[am-parallax~="image-1"] {
        left: 65%;
      }

      &[am-parallax~="image-2"] {
        left: 55%;
      }
    }
  }
}