// Color
// --------------------------------

$color: (
  "white": #ffffff,
  "black": #000000,
  "dark": #5d584f,
  "light": #b1a37f,
  "red": #e75c45
);


// Grid
// --------------------------------

$am-columns: 12;

$am-breakpoints: (
  "xs": (
    "container": fluid,
    "padding": 1rem,
    "width": 0px
  ),
  "sm": (
    "container": fluid,
    "padding": 1rem,
    "width": 420px
  ),
  "md": (
    "container": set,
    "padding": 1.5rem,
    "width": 768px
  ),
  "lg": (
    "container": set,
    "padding": 1.5rem,
    "width": 992px
  ),
  "xl": (
    "container": set,
    "padding": 1.5rem,
    "width": 1280px,
  ),
  "xxl": (
    "container": set,
    "padding": 1.5rem,
    "width": 1440px
  )
);


// Target breakpoints below x
// --------------------------------

$below-xs: "only screen and (max-width: #{map-get(map-get($am-breakpoints, xs), width) - 1px})";

$below-xxl: "only screen and (max-width: #{map-get(map-get($am-breakpoints, xxl), width)})";


// Target breakpoints above x
// --------------------------------

$above-xs: "only screen and (min-width: #{map-get(map-get($am-breakpoints, xs), width)})";
$above-xxl: "only screen and (min-width: #{map-get(map-get($am-breakpoints, xxl), width)})";