@import "config";

@import "./node_modules/node-normalize-scss/normalize",
        "./node_modules/bolser-am-strap/all";

// FontAwesome
@import "fontawesome/font-awesome";

// Mixins
@import "mixins/animate",
        "mixins/rem";

// Global styles
@import "global/helpers",
        "global/page",
        "global/typography";

// Individual pages
@import "pages/home",
        "pages/insurance";

// UI
@import "ui/animate",
        "ui/buttons",
        "ui/colours",
        "ui/container",
        "ui/event",
        "ui/footer",
        "ui/form",
        "ui/header",
        "ui/hero",
        "ui/links",
        "ui/modal",
        "ui/map",
        "ui/masonary",
        "ui/nav";