<div am-section="park-info" am-bg="white">
  <div am-container>
    <div am-row>
      <div am-col="sm-12" am-align="center">
        <h2 am-title>{{ pageInfo.title.rendered }}</h2>
      </div>

      <div am-park-info am-col="sm-12" am-align="center">
        <h4>Opening Times</h4>
        <p>{{ openingTimes }}</p>
      </div>

      <div am-park-info am-col="sm-12" am-align="center">
        <h4>Prices</h4>
        <div [innerHTML]="prices | keepHtml"></div>
      </div>

      <div am-park-info am-col="sm-12" am-align="center">
        <h4>Details</h4>
        <div [innerHTML]="address | keepHtml"></div>
        <p><a href="mailto:{{ emailAddress }}" am-color="dark" am-hover="color light">{{ emailAddress }}</a></p>
      </div>
    </div>
  </div>
</div>
