<div am-hero></div>

<div am-section>
  <div am-container>
    <div am-row>
      <div am-col>
        <h1 am-title="about">About Us</h1>
      </div>
    </div>

    <div am-row="about" (appear)="onAppear()">
      <div am-col="sm-12 lg-7" am-offset="lg-2">
        <div am-col="sm-12 md-10" *ngIf="about" [innerHTML]="about | keepHtml">
        </div>
      </div>

      <div am-parallax="image-1" id="parallax-image-1" am-visible="md lg xl" am-col="md-4 lg-4 xl-3">
        <img src="{{ aboutImage1 }}" />
      </div>
      <div am-parallax="image-2" id="parallax-image-2" am-visible="md lg xl" am-col="md-3 lg-2">
        <img src="{{ aboutImage2 }}" />
      </div>
    </div>
  </div>
</div>

<div am-section am-bg="dark" (appear)="onAppear()">
  <div am-container>
    <div am-row>
      <div am-col="sm-12" am-align="center">
        <h2 am-title>Next Event</h2>
      </div>

      <p *ngIf="eventsAll.length <= 0">There are currently no planned events.</p>

      <ul *ngIf="eventsAll.length > 0" am-col="sm-12 lg-10" am-push="lg-1" am-event="home">
        <li *ngFor="let event of eventsOrdered | slice:0:1" am-col="sm-12">
          <div am-image am-col="sm-4 md-5">
            <img src="{{ event.cover_image }}" title="#" alt="#"/>
          </div>

          <div am-content am-col="sm-8 md-7">

            <h3>{{event.name}}</h3>
            <div *ngIf="event.description"><p>{{ event.description }}</p></div>
            <h4>{{ event.start_time | date:'mediumDate' }}</h4>
          </div>

        </li>
      </ul>
      <div am-col="sm-12" am-align="center">
        <a
          routerLink="events"
          am-button am-bg="light" am-color="white" am-hover="opacity">See all events</a>
      </div>
    </div>
  </div>
</div>

<footer-images></footer-images>