<div am-hero></div>

<div am-section>
  <div am-container>
    <div am-row>
      <div am-col>
        <h1 am-title>About Us</h1>
      </div>
    </div>

    <div am-row>
      <div am-col="sm-12 lg-7" am-offset="lg-2">
        <div am-col="sm-12 md-10" [innerHTML]="about | keepHtml">
        </div>
      </div>
    </div>
  </div>
</div>

<div am-section am-bg="dark">
  <div am-container>
    <div am-row>
      <div am-col="sm-12" am-align="center">
        <h2 am-title>Next Event</h2>
      </div>

      <ul am-col="sm-12 lg-10" am-push="lg-1" am-event="home">
        <li *ngFor="let event of events | slice:0:1" am-col="sm-12">
          <div am-image am-col="sm-4 md-5">
            <img src="{{ event.acf.event_image }}" title="#" alt="#"/>
          </div>

          <div am-content am-col="sm-8 md-7">

            <h3 [innerHTML]="event.title.rendered | keepHtml"></h3>
            <p [innerHTML]="event.content.rendered | keepHtml"></p>
            <h4>{{ event.acf.event_date }}</h4>
          </div>

        </li>
      </ul>
      <div am-col="sm-12" am-align="center">
        <a
          routerLink="events"
          am-button am-bg="light" am-color="white" am-hover="opacity">See all events</a>
      </div>
    </div>
  </div>
</div>

<footer-images></footer-images>