<div am-hero></div>

<div am-section>
  <div am-container>
    <div am-row>
      <div am-col>
        <h1 am-title>About Us</h1>
      </div>
    </div>

    <div am-row>
      <div am-col="sm-12 lg-7" am-offset="lg-2">
        <div am-col="sm-12 md-8" [innerHTML]="about | keepHtml">
        </div>
      </div>
    </div>
  </div>
</div>

<div am-section am-bg="dark">
  <div am-container>
    <div am-row>
      <div am-col>
        <h2 am-title>Next Event</h2>
      </div>
    </div>
  </div>
</div>
