<div am-section="park-info" am-bg="white">
  <div am-container>
    <div am-row>
      <div am-col="sm-12" am-align="center">
        <h2 am-title>{{ membership?.title.rendered }}</h2>
      </div>
    </div>

    <div am-row>
      <div
        *ngIf="membership?.content.rendered"
        am-col="sm=12 lg-8"
        am-push="lg-2"
        am-align="center"
        [innerHTML]="membership?.content.rendered | keepHtml">
      </div>
    </div>

    <div am-row>
      <div
        am-col="sm=12 md-8 lg-6"
        am-push="md-2 lg-3"
        am-align="left">

        <div am-park-info *ngIf="membership?.acf.benefits_intro">
          <h4 am-align="center">Membership Benefits</h4>

          <div [innerHTML]="membership?.acf.benefits_intro | keepHtml"></div>

          <ul am-list>
            <li *ngFor="let benefit of membership?.acf.benefits"><span [innerHTML]="benefit.benefit_point | keepHtml"></span></li>
          </ul>
        </div>
      </div>
    </div>

    <div am-row>
      <div
        *ngIf="membership?.acf.sub_paragraph"
        am-col="sm=12 lg-8"
        am-push="lg-2"
        am-align="center"
        [innerHTML]="membership?.acf.sub_paragraph | keepHtml">
      </div>
    </div>
  </div>
</div>
<footer-images></footer-images>