<div am-footer="wrapper">
  <div am-col="sm-12 md-5" am-align="left">
      <ul am-nav="footer">
        <li *ngFor="let footerNavItem of footerNavItems">
          <a routerLink="{{footerNavItem.url}}">
            {{footerNavItem.title}}

            <span *ngIf="footerNavItem.title == 'Opening Hours'">Saturday &amp; Sunday 10am - 5pm</span>
          </a>
        </li>
      </ul>
    </div>

    <div am-col="sm-12 md-2" am-align="center">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>

    <div am-col="sm-12 md-5" am-align="right">
      <p>&copy; {{ siteName }} {{ today | date:'yyyy' }}</p>
      <p>Web Design and Developent: <a href="http://www.lauraricher.co.uk" target="blank">Laura Richer</a></p>
    </div>
</div>