<div am-footer="wrapper">
  <div am-col="sm-12 md-5" am-align="left">
      <ul am-nav="footer">
        <li *ngFor="let footerNavItem of footerNavItems">
          <a
            am-hover="color light"
            routerLink="{{ footerNavItem.url.replace('http://api.havokbikepark.com', '') }}">

            {{ footerNavItem.title }}

            <span *ngIf="footerNavItem.title == 'Opening Hours'">{{ openingTimes }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div am-col="sm-12 md-2" am-align="center">
      <ul am-nav="social" am-hover="light">
        <li>
          <a
            am-hover="color light"
            href="{{ facebookLink }}" target="blank">

            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a
            am-hover="color light"
            href="{{ instagramLink }}" target="blank">

            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>

    <div am-col="sm-12 md-5" am-align="right">
      <p>&copy; {{ siteName }} {{ today | date:'yyyy' }}</p>
      <p>Web Design and Developent: <a am-hover="color light" href="http://www.lauraricher.co.uk" target="blank">Laura Richer</a></p>
    </div>
</div>