<div am-section="park-info" am-bg="white">
  <div am-container>
    <div am-row>
      <div am-col="sm-12" am-align="center">
        <h2 am-title>{{ pageTitle }}</h2>
      </div>
    </div>

    <div am-row>
      <div
        am-col="sm=12 lg-8"
        am-push="lg-2"
        am-align="center"
        [innerHTML]="mainCopy | keepHtml">
      </div>
    </div>

    <div am-row>
      <div
        am-col="sm=12 md-8 lg-6"
        am-push="md-2 lg-3"
        am-align="left">

        <div [innerHTML]="benefitsIntro | keepHtml"></div>

        <ul>
          <li *ngFor="let benefit of benefits">{{ benefit.benefit_point }}</li>
        </ul>

      </div>
    </div>

    <div am-row>
      <div
        am-col="sm=12 lg-8"
        am-push="lg-2"
        am-align="center"
        [innerHTML]="subParagraph | keepHtml">
      </div>
    </div>
  </div>
</div>
<footer-images></footer-images>